@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* .body,
h2,
p {
  margin: 0;
} */
/* .body{
  display: grid;
  place-items: center;
  height: 100vh;
  padding:100px;
} */
.container{
  display:flex;
  float:left;
  place-items:center;
  position : relative;
  align-items:center;
  justify-content:center;
}
.card {
 float:left;
  display: flex;
  /* overflow: hidden; */
  place-items: center; 
  width: 500px;
  height: 900px;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 100px 100px;
  margin:200px 100px;
  gap:30px;
  position: relative;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #4445;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.icon,
.heading,
.content {
  position: relative;
  z-index: 5;
  transition: all 0.5s;
}

.icon {
  width: 40px;
  fill: rgb(139, 92, 246);
  margin-bottom: 20px;
}

.heading {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}

.number {
  position: absolute;
  top: -90px;
  right: -85px;
  padding: 80px 100px 30px 30px;
  background: rgb(139, 92, 246);
  border-radius: 100%;
  z-index: 5;
}

.number .text {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

.text {
  margin-top: 20px;
}

.number::after {
  content: "";
  width: 50px;
  height: 50px;
  background: rgb(139, 92, 246);
  position: absolute;
  border-radius: 100%;
  top: 50%;
  right: 50%;
  transition: all 0.5s;
  transform: translateX(50%) translateY(-50%);
  z-index: -1;
}

.card:hover {
  scale: 1.02;
  box-shadow: 0 5px 20px #444e;
} 

.card:hover .number::after {
  width: 900px;
  height: 900px;
}

.card:hover .icon,
.card:hover .heading,
.card:hover .content {
  color: #f5f5f5;
  fill: #f5f5f5;
}
