.form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.tab-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tab-switch button {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.tab-switch button.active {
  background: #222;
  color: white;
  border-color: #222;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-section label {
  font-weight: 500;
  margin-bottom: 5px;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="file"]
{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.form-section input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.register-btn {
  margin-top: 20px;
  padding: 12px;
  background: #facc15;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-verify{
  margin-top: 10px;
  padding: 6px;
  width:100px;
  background: #facc15;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}



.register-btn:hover {
  background: #eab308;
}
